<!DOCTYPE html>
<html >
<head>

	<!--bootstrap-->
	<link href="/static/css/bootstrap.css" rel="stylesheet">
	<link  href="/static/css/font-awesome.min.css" rel="stylesheet">
	<link href="/static/css/bootstrap-theme.css" rel="stylesheet">
	<script src="/static/js/jquery.js"></script>
	<script src="/static/js/bootstrap.js"></script>
    <!--vue-->
	<script src="/static/js/vue.js"></script>
	<!--csrf token-->
	<script type="text/javascript" src="/static/js/csrf.js"></script>
    <title>{% block title %}My Blog{% endblock %}</title>
</head>

		
<body>
	<nav class="navbar " role="navgation">
	<div id="nav" class="container-fluid navbar-inverse navbar-fixed-top">
		<div class="navbar-brand" style="font-size: 30px;font-family:Brush Script MT;">
			Alex Blog
		</div>
		<div>
		<ul class="nav navbar-nav" style="margin-left: 100px; font-size: 18px;">
			<li><a href="http://127.0.0.1:8000/">首页</a></li>
			<li><a href="/codelist">学无止境</a></li>
			<li><a href="/lifelist">生活点滴</a></li>
			<li><a href="#">留言板</a></li>
			<li><a href="#">关于我</a></li>
			</ul>
	</div>
	
		<form role="search" method="get" id="searchform" action="/search">
			<div  class="col-lg-3" style="margin-top: 6px; margin-left: 150px; position: relative;">
		<div class="input-group">
		<input type="search" class="form-control" name="q" placeholder="搜索" required>
		<span class="input-group-btn">
			<button class="btn btn-default" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
		</span>

		</div>
		</div>
	</form>
		

	
</div>
</nav>
	<div class="container jumbotron" style="text-align: left;">
	<div class="col-md-8 col-md-offset-2">
		{% block content %}
			{% for article in page_obj %}
			
			<dl>
				<dt><h4><a style="color: black" href="{{article.get_absolute_url}}" >{{ article.title}}</a></h4></dt>
				<dd><p><a style="font-size: 14px;color:black;" href="{{article.get_absolute_url}}">{{article.abstract}}.......</a>
				<div style="text-align: right;"> <i class="fa fa-eye" aria-hidden="true"></i> {{article.views}}&nbsp;&nbsp;<i class="fa fa-clock-o" aria-hidden="true"></i> {{article.update_time|date:"Y-m-d"}}</div>
				<br>
				</p></dd>
			</dl>
			{% endfor %}
			{% include 'pagination.html' %}	
		{% endblock %}
	</div>
	</div>
	
	<div class="text-center">

		<p style="font-size: 14px;"> Powered by <b> Alex Chen</b>
		 Copyright 2018<a href="mailto:330953853@qq.com"> 联系我</a></p>
	</div>

	{% block vuejs %}
 	{% endblock %}
</body>
</html>
